@using FakeMobileCarrier.CallCenter.WebApp.Resources.Shared;

@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedResource.Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">@SharedResource.Error</h1>
        <h2 class="text-danger">@SharedResource.ErrorText</h2>
    </hgroup>
</body>
</html>
