@using FakeMobileCarrier.CallCenter.WebApp.Models.Home;

@model _HomeUserListModel
@if (Model != null)
{
    foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.PhoneNumber</td>
            <td>@user.PESEL</td>
        </tr>
    }
}