@using FakeMobileCarrier.CallCenter.WebApp.Models.Home;

@model _HomeSearchUserModel
@if (Model != null)
{
    <tr>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <td>@Html.TextBoxFor(model => model.FirstName, new { @class = "w100p" })</td>
            <td>@Html.TextBoxFor(model => model.LastName, new { @class = "w100p" })</td>
            <td>@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "w100p" })</td>
            <td><input type="submit" class="w100p" value="Search" /></td>
        }
    </tr>
}